// Colors
//================================================================================
// text colors
$color__font: rgb(61,62,63); // #3d3e3f
$color__heading: rgb(101,22,77);
$color__blockquote: rgb(101,22,77);
$color__link: rgb(196,129,183);
$color__form: rgb(35,31,32);

// color pallete
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$pompadour: rgb(102,22,77); // #66164D
$dark-purple: rgb(136,37,112); // #882570
$hot-pink: rgb(241,112,169); // #F170A9
$pastel-violet: rgb(196,153,199); // #C499C7
$french-lilac: rgb(216,177,211); //#D8B1D3

// Typography
//================================================================================
$font-size__base: 16;