b,
strong {
  font-weight: bold;
  font-family: "tide_sans400_lil_dude", Arial, "Helvetica Neue", Helvetica, sans-serif;
  em,
  i{
    font-family: "tide_sans600_bunny_italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}
em,
i {
  b,
  strong {
    font-family: "tide_sans600_bunny_italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}