/*---------------------------------------------------------
 * Entries
---------------------------------------------------------*/
.entry {
  margin-bottom: 4.5em;
}
.entry__thumbnail {
  margin-top: 4.5em;
}
.entry__header {
  margin-bottom: 4.5em;
}
.focused-image {
  background-color: $pastel-violet;
  padding: 10% 6%;
  display: block;
}