/*---------------------------------------------------------
 * Header
---------------------------------------------------------*/
.header {
  position: relative;
  background-color: $pompadour;
  padding: 0 0.5em;
  @include media-query(401px) {
    padding: 0 1em;
  }
}
.header__home {
  background-image: url(images/textured-bg.png);
  background-position: center -5px;
  padding: 1.5em 0.5em;
  @include media-query(401px) {
    padding: 1.5em 1em;
  }
}
.header__page {
  .header__wrapper {
    height: auto;
    @include media-query(640px) {
      height: 65px;
    }
  }
}
.header__sub-heading {
  color: $white;
  text-align: center;
  padding: 4em 0 2em;
  background-repeat: no-repeat;
  background-position: center 120px;
  background-size: 12px 29px;
  @include font-size(18);
}
.header__edges {
  display: none;
  background-image: url(images/edges.png);
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: -20px;
  left: 0px;
  background-position: -10px 0px;
  @include media-query(640px) {
    display: block;
  }
}